<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>텍스트 관련 태그</title>
</head>
<body>
    <h1>텍스트 관련 태그</h1>
    <h2>제목관련 태그</h2>
    <p>문서 내용에 따라 적절한 제목을 지정하는 것은 중요!</p>
    <p>제목은 h1(큰제목) ~ h6(작은제목) 태그를 사용</p>
    <p>검색엔진 최적화SEO에 중요한 요소로 작용하는 태그</p>
    <hr>
    <h1>큰제목(h1)</h1>
    <h2>큰제목(h2)</h2>
    <h3>중간제목(h3)</h3>
    <h4>중간제목(h4)</h4>
    <h5>작은제목(h5)</h5>
    <h6>작은제목(h6)</h6>

    <h2>문단</h2>
    <p>문단paragraph을 정의할때 사용</p>
    <p>문단이 정의되면 문단 위아래 약간의 여백margin이 추가됨</p>
    <p>문단 내 텍스트에 적용된 공백이나 줄바꿈은 모두 무시되고 한줄로 출력됨</p>
    <hr>
    <p>
        ▶보드룸 바자, 신비한 마우솔로스의 영묘= 보드룸 바자(Bodrum Bazaar)에는 유서 깊은 이 지역의 전통 제품과 더불어 고급 브랜드, 부티크 상점들이 조화롭게 어우러져 있다.

        수 세기 동안 같은 방식으로 제작된 보드룸 샌들은 꼭 한 번 신어 보는 걸 추천한다.

        가장 유명한 고대 건축물이자 7대 불가사의 중 하나인 3000년전 왕릉, 마우솔로스의 영묘(Mausoleum at Halicarnassus)가 바로 이곳, 보드룸에 위치해 있다. 높이가 무려 50m로 당시 피라미드 다음으로 높았다고 한다.

        유네스코 세계 문화유산으로 등록된 보드룸 성도 있다. 로도스 기사단이 15세기에 건립했다.

        보드룸성 수중 고고학박물관
        보드룸성 수중 고고학박물관


        성 내부에는 해저에서 발굴된 다양한 유물을 전시하는 수중 고고학 박물관이 있고, 성의 꼭대기에 위치한 전망대에서는 아름다운 풍경도 감상할 수 있어 여행의 또 다른 즐거움을 선사한다.

        이 성은 보드룸 해안선 중 볼록 튀어나온 부분에 우뚝 서있으며, 성밖에서 이 성체를 조망해도 멋지고, 성에서 밖을 조망해도 아름답다.

        시간적 여유가 된다면 에게해에서 지중해로 항해를 떠나 튀르키예 리비에라의 아름다움 까지 발견한다면 금상첨화이겠다.

        함영훈 abc@heraldcorp.com
        기자 프로필
    </p>
    <p>
        public static void main(String[] args) {
            System.out,println("Hello, World!!");
        }
    </p>

    <h2>줄바꿈 line-break</h2>
    <p>html에서는 텍스트에 작성된 줄바꿈은 무시된다고 했음</p>
    <p>만약, 의도적으로 줄바꿈을 적용하고 싶다면 br태그를 사용해야함</p>
    <p>단, br태그는 종료태그가 없음</p>
    <p>
        public static void main(String[] args) {<br>
        System.out,println("Hello, World!!");<br>
        }
    </p>

    <h2>수평선horizental</h2>
    <p>컨텐츠의 내용이 바뀔때 내용 환기를 위해 사용하는 구분선을 의미</p>

    <h2>엔티티 참조</h2>
    <p>html에는 특수한 용도를 위해 미리 예약된 문자들이 있음</p>
    <p>이러한 문자들을 일반 텍스트처럼 사용하면
        브라우저는 이것을 다르게 해석할 수도 있음</p>
    <p>따라서, html 예약어를 기존에 사용하던 의미대로
    사용하려면 별도로 만들어둔 문자셋entity을 이용해야 함</p>
    <p>문자셋은 &amp;과 &semi; 사이에 문자셋이름 또는
        문자셋번호를 이용해서 나타낼 수 있음</p>
    <hr>
    <p>10 &gt; 9  &sol;  100 &lt; 5</p>
    <p>&copy; &reg; </p>
    <p>1  &nbsp;2  &nbsp;3</p>

    <h2>웹페이지 레이아웃용 텍스트 생성기</h2>
    <p>로렘lorem 입숨lipsum은 출판이나 그래픽 디자인 분야에서
    주로 사용하는 더미(의미없는) 텍스트</p>
    <p>디자인을 위해 자리 표시역할을 담당하는 텍스트들을 의미</p>
    <p>lipsum.com &sol; hanipsum.com</p>

    <h2>텍스트 꾸밈 태그</h2>
    <p>문단내 텍스트들을 다르게 표시해서 강조, 환기 효과를 얻기 위해 사용</p>
    <p>텍스트를 단순히 진하게 표시 - bold 태그 사용</p>
    <p>텍스트를 강조의 의미로 진하게 표시 - strong 태그 사용</p>
    <p>텍스트를 단순히 기울여서 표시 - italic 태그 사용</p>
    <p>텍스트를 강조의 의미로 기울여서 표시 - emphasize 태그 사용</p>
    <hr>
    <p>시간은 <b>금이라구</b>, 친구!!</p>
    <p>시간은 <strong>금이라구</strong>, 친구!!</p>
    <p>시간은 <i>금이라구</i>, 친구!!</p>
    <p>시간은 <em>금이라구</em>, 친구!!</p>
    <hr>
    <p>수식이나 기호에 위첨자를 나타내려면 superscript 태그 사용</p>
    <p>수식이나 기호에 아래첨자를 나타내려면 subscript 태그 사용</p>
    <p>논문에 사용하는 기호를 나타내려면 latex을 이용해야 함</p>
    <p>피타고라스 정리 : a<sup>2</sup> = b<sup>2</sup> + c<sup>2</sup></p>
    <p>특수 상대성 이론 : E = mc<sup>2</sup></p>
    <p>물 : H<sub>20</sub>, 이산화탄수 : CO<sub>2</sub></p>

    <hr>
    <p>ins 태그</p>
    <p>del 태그</p>
    <p>mark 태그</p>
    <p><ins>a<sup>2</sup> = b<sup>2</sup> + c<sup>2</sup></ins> 는 수학 역사상 가장 중요한 식 중의 하나로 여겨지고 있다</p>
    <p>이 벽화가 그려진 시기는 <del>청동기</del> 신석기이다.</p>
    <p><mark>시간은 금이라구, 친구!!</mark></p>

    <hr>
    <p>kbd 태그</p>
    <p>윈도우를 종료하려면 <kbd>Alt</kbd> + <kbd>F4</kbd>를 누르면 됩니다.</p>

    <p>pre 태그</p>
    <pre>
    public static void main(String[] args) {
        System.out,println("Hello, World!!");
    }
    </pre>

    <h2>인용</h2>
    <p>짧은 인용은 q태그를, 긴 인용은 blockquote 태그를 사용</p>
    <p>
        고블린이 한숨을 쉬며 말했다.
        <q>시간은 금이라구, 친구!!</q>
    </p>
    <p>
        고블린이 한숨을 쉬며 말했다.
        <blockquote>시간은 금이라구, 친구!!</blockquote>
    </p>

    <p></p>

</body>
</html>